In [63]:
#analyze the date of purchase to identify seasonal trends which can be correlated with competitor activities
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#load data set
data = pd.read_csv("car_data.csv")
#drop missing values
data.dropna(inplace=True)
#data is from 2022 to end of 2024
#convert to datetime
data['Date']=pd.to_datetime(data['Date']) #convert to datetime

data['month'] = data['Date'].dt.month
sales_count_data = data.groupby('month').size().reset_index(name='sales_count')
months = list(range(1, 13))
monthly_sales = pd.DataFrame({'month': months})
data = pd.merge(data, sales_count_data, on='month', how='left')
monthly_sales = pd.merge(monthly_sales, sales_count_data, on='month', how='left').fillna(0)
monthly_sales
monthly_sales.plot()

    month  sales_count
0       1          790
1       2          735
2       3         1535
3       4         1655
4       5         1895
5       6         1715
6       7         1725
7       8         1705
8       9         3305
9      10         1830
10     11         3469
11     12         3546

In [64]:
sales_count_by_month_style_dealer_company = data.groupby(['month', 'Body Style', 'Dealer_Name', 'Company']).size().reset_index(name='sales_count')

most_bought_style_by_month = sales_count_by_month_style_dealer_company.loc[sales_count_by_month_style_dealer_company.groupby('month')['sales_count'].idxmax()]

months = list(range(1, 13))
monthly_sales = pd.DataFrame({'month': months})

monthly_sales = pd.merge(monthly_sales, most_bought_style_by_month[['month', 'Body Style', 'Dealer_Name', 'Company', 'sales_count']], on='month', how='left')
monthly_sales['Body Style'] = monthly_sales['Body Style'].fillna('No data')
monthly_sales['Dealer_Name'] = monthly_sales['Dealer_Name'].fillna('No data')
monthly_sales['Company'] = monthly_sales['Company'].fillna('No data')
monthly_sales['sales_count'] = monthly_sales['sales_count'].fillna(0)
monthly_sales

,month,Body Style,Dealer_Name,Company,sales_count
0,1,Hardtop,Suburban Ford,Chevrolet,4
1,2,Hardtop,Scrivener Performance Engineering,Dodge,4
2,3,Hatchback,Star Enterprises Inc,Ford,7
3,4,Sedan,Rabun Used Car Sales,Oldsmobile,6
4,5,Passenger,Race Car Help,Chevrolet,7
5,6,Hatchback,Progressive Shippers Cooperative Association No,Mitsubishi,6
6,7,Passenger,Rabun Used Car Sales,Pontiac,6
7,8,SUV,U-Haul CO,Mercedes-B,9
8,9,SUV,Suburban Ford,Chevrolet,11
9,10,SUV,Rabun Used Car Sales,Dodge,6
10,11,Hardtop,Tri-State Mack Inc,Chevrolet,10
11,12,Sedan,Race Car Help,Oldsmobile,10